body{
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    text-align: center;
    background-color: #2ec4b6;
    font-family: 'Balsamiq Sans', cursive;
}

.logo{
    text-align: center;
    justify-content: center;

}
.container-recomendaciones {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    row-gap: 2em;
    column-gap: 2em;

}